:root {
    --primary:  #85552b;
    --secondary: #eedbca;
    --tertiary: #ac794d;
    --dk-grey: rgb(43, 42, 42);
    --max-width: 960px;
    --spacing: 3rem;
}

/* generic styles */

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--secondary);
    color: var(--dk-grey);
    overflow-x: hidden;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: .1rem;
}

h1 {
    margin-bottom: var(--spacing);
    font-size: clamp(3rem, 5vw, 200rem);
    font-weight: bold;
    line-height: 1.4em;
    color: var(--primary);
}

h2 {
    margin-bottom: var(--spacing);
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    margin-right: .5rem;
    font-size: 2rem;
    font-weight: bold;
    width: 25%;
}

h4 {
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

section {
    padding: var(--spacing);
}

p {
    margin-bottom: 1em;
    line-height: 1.4em;
    color: white;
    letter-spacing: .04em;
}

.p-quote {
    text-align: center;
}

.p-projects {
    margin-left: 0.5rem;
    line-height: 1.4em;
    color: var(--dk-grey);
    letter-spacing: .05em;
    width: 50%;
}

/* helper classes */
.neutral-theme {
    background-color: var(--secondary);
    --button-color: var(--primary);
    --button-hover-color: white;
}

.primary-theme {
    position: relative;
    color: white;
    background-color: var(--primary);
    --button-color: white;
    --button-hover-color: var(--primary);
}

.button {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid var(--button-color);
    font-weight: bold;
    text-decoration: none;
    color: var(--button-color);
}

.button:hover {
    color:  var(--button-hover-color);
    background-color: var(--button-color);
    transition: all 0.6s ease-in;
    transform: scale(1.2);
}

.about-name {
    color: var(--dk-grey);
}

.header-link {
    position: relative;
    display: flex; /* for the arrow */
    align-items: center; /* for the arrow */
    justify-content: space-between; /* for the arrow */
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.header-link:hover {
    background-color: var(--primary);
    color: white;
}

/* getting fancy! */
.header-link::after {
    content: '';
    width: 0;
    height: 0;
    margin-left: 1rem;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .75rem solid var(--primary);
}

.header-link:hover::after {
    border-top-color: white;
}

.about {
    margin-bottom: 100px;
}

.about:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 0;
    height: 0;
    border-top: 100px solid var(--primary);
    border-right: 100vw solid transparent;
}

.about-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.photo {
    display: block;
    max-width: 350px;
    margin: 0 auto var(--spacing);
    border-radius: 15rem 2rem 15rem 15rem;
    width: 40%;
    height: 40%;
    filter: grayscale(90%);
}

.photo:hover {
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out;
    transform: scale(1.15);
}


blockquote {
    margin-top: var(--spacing); 
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

cite {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    font-style: normal;
}

article {
    display: flex;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto var(--spacing);
}

.img-project {
    display: block;
    margin-left: 1rem;
    flex-grow: 0;
    object-fit: cover;
    border-radius: 1rem;
    width: 40%;
    height: 30%;
}

.toolkit {
    display: flex;
        flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto var(--spacing);
}

.fa-brands, .fa-solid {
    margin: 1rem;
    color: white;  
}

.fa-brands:hover, .img-icons:hover {
    transition: all 0.6s ease-in-out;
    transform: scale(1.4);
}

.img-icons {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.contact {
    margin-top: 100px;
    text-align: center;
}

.contact:before {
    content: "";
    position: absolute;
    left: 0;
    top: -100px;
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--primary);
    border-left: 100vw solid transparent;
}

.p-contact {
    color: #333;
}

footer {
    padding: var(--spacing);
    text-align: center;
    background-color: var(--primary);
    color: white;
}

.end-right {
    border-bottom: 100px solid var(--primary);
    border-left: 100vw solid transparent;
}
.social {
    display: flex;
    justify-content: center;
    max-width: var(--max-width);
    margin: 0 auto var(--spacing);
}

.social-item {
    margin: 1rem;
}

.social-link {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 0px;
    background: no-repeat;
    background-size: 60px;
}

.social-link:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

@media (min-width: 800px) {
    .about-container {
        display: flex;
    }

    .about-text {
        margin-left: var(--spacing);
    }
}

