:root {
    --primary:  #85552b;
    --secondary: #eedbca;
    --tertiary: #85a074;
    --dk-grey: rgb(43, 42, 42);
    --max-width: 960px;
    --spacing: 3rem;
}

.light-mode {
    --primary:  #85552b;
    --secondary: #eedbca;
    --tertiary: #85a074;
    --dk-grey: rgb(43, 42, 42);
}

.dark-mode {
    --primary:  #331800;
    --secondary: #683102;
    --tertiary: #173801;
    --dk-grey: white;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--secondary);
    color: var(--dk-grey);
    overflow-x: hidden;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: .1rem;
}

h1 {
    margin-bottom: var(--spacing);
    font-size: clamp(3rem, 5vw, 200rem);
    font-weight: bold;
    line-height: 1.4em;
    color: var(--primary);
}

h2 {
    margin-bottom: var(--spacing);
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

h3 {
    margin-right: .5rem;
    font-size: 1.9rem;
    font-weight: bold;
    width: 25%;
    letter-spacing: 0.1rem;
}

h4 {
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    letter-spacing: 0.1rem;
}

section {
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

p {
    display: flex;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto var(--spacing);
    margin-bottom: 1em;
    line-height: 1.4em;
    color: white;
    letter-spacing: .04em;
    font-size: 1em;
}

article {
    display: flex;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto var(--spacing);
}

.p-quote {
    text-align: center;
}

.p-projects {
    margin-left: 0.5rem;
    line-height: 1.4em;
    color: var(--dk-grey);
    width: 50%;
}


.neutral-theme {
    background-color: var(--secondary);
    --button-color: var(--primary);
    --button-hover-color: white;
}

.primary-theme {
    position: relative;
    color: white;
    background-color: var(--primary);
    --button-color: white;
    --button-hover-color: var(--primary);
}

.button {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid var(--button-color);
    font-weight: bold;
    text-decoration: none;
    color: var(--button-color);
}

.button:hover {
    color:  var(--button-hover-color);
    background-color: var(--button-color);
    transition: all 0.6s ease-in;
    transform: scale(1.2);
}

.about-name {
    color: var(--dk-grey);
}

.header-link {
    position: relative;
    display: flex; /* for the arrow */
    align-items: center; /* for the arrow */
    justify-content: space-between; /* for the arrow */
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.header-link:hover {
    background-color: var(--primary);
    color: white;
}

/* getting fancy! */
.header-link::after {
    content: '';
    width: 0;
    height: 0;
    margin-left: 1rem;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .75rem solid var(--primary);
}

.header-link:hover::after {
    border-top-color: white;
}

.about {
    margin-bottom: 100px;
}

.about:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 0;
    height: 0;
    border-top: 100px solid var(--primary);
    border-right: 100vw solid transparent;
}

.about-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.photo {
    display: block;
    max-width: 350px;
    margin: 0 auto var(--spacing);
    border-radius: 15rem 2rem 15rem 15rem;
    width: 40%;
    height: 40%;
    filter: grayscale(90%);
}

.photo:hover {
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out;
    transform: scale(1.15);
}


blockquote {
    margin-top: var(--spacing); 
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

cite {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    font-style: normal;
}

.img-project {
    display: block;
    margin-left: 1rem;
    flex-grow: 0;
    object-fit: cover;
    border-radius: 1rem;
    width: 40%;
    height: 30%;
}

.card-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 10px;
  }

  .card {
    width: 320px;
    height: 370px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1.2s;
    transform-style: preserve-3d;
    border-radius: 0.2rem;
  }
  
  .card:hover {
    transform: rotateY( 180deg ) ;
    transition: transform 1.2s;
  }
  
  .h3-card {
    height: 15%;
    width: 100%;
    padding-top: .4rem;
    line-height: 1.1em;
  }

  .p-card {
    color: var(--dk-grey);
  }

  .card-front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    line-height: 1.4em;
    color: white;
    letter-spacing: .04em;
    text-align: center;
    font-size: 1rem;
    border-radius: .5rem;
    backface-visibility: hidden;
  }
  
  .card-background {
    position: relative;
    background-color: var(--secondary);
    height: 80%;
    width: 90%;
    left: 5%;
    border-radius: 0.5rem;
  }

/*.card-button {
    position: absolute;
    display: flex;
    align-items: flex-end;
    align-self: auto;
    bottom: 5%;
}*/

  .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--tertiary);
    line-height: 1.4em;
    color: var(--dk-grey);
    letter-spacing: .04em;
    text-align: center;
    font-size: 1rem;
    border-radius: .5rem;
    backface-visibility: hidden;
    transform: rotateY( 180deg );
    }
  
  .card-img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 0.8rem;
  }
  
.toolkit {
    display: flex;
        flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto var(--spacing);
}

.fa-brands, .fa-solid {
    margin: 1rem;
    color: white;  
}

.fa-brands:hover, .img-icons:hover {
    transition: all 0.6s ease-in-out;
    transform: scale(1.4);
}

.img-icons {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.contact {
    margin-top: 100px;
    text-align: center;
}

.contact:before {
    content: "";
    position: absolute;
    left: 0;
    top: -100px;
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--primary);
    border-left: 100vw solid transparent;
}

.p-contact {
    color: var(--dk-grey);
}

footer {
    padding: var(--spacing);
    text-align: center;
    justify-self: center;
    background-color: var(--primary);
    color: white;
}

.end-right {
    border-bottom: 100px solid var(--primary);
    border-left: 100vw solid transparent;
}
.social {
    display: flex;
    justify-content: center;
    max-width: var(--max-width);
    margin: 0 auto var(--spacing);
}

.social-item {
    margin: 1rem;
}

.social-link {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 0px;
    background: no-repeat;
    background-size: 60px;
}

.social-link:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

@media (min-width: 800px) {
    .about-container {
        display: flex;
    }

    .about-text {
        margin-left: var(--spacing);
    }
}

#theme-switch {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 3;
    color: var(--white);
    background-color: var(--tertiary);
}

#theme-switch:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.5);
}

@media (prefers-color-scheme: dark) {
    --primary:  #331800;
    --secondary: #683102;
    --tertiary: #173801;
    --dk-grey: white;
  }

@media (prefers-color-scheme: light) {
    /--primary:  #85552b;
    --secondary: #eedbca;
    --tertiary: #85a074;
    --dk-grey: rgb(43, 42, 42);
  }